*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.bak
*.vscode
__pycache__/
*/__pycache__/*
.hypothesis/
.pytest_cache/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.hg
*.svn
[Tt]humbs.db
*.DS_Store
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
.py[cod]
.xml
ipch/
obj/
[Bb]in
[Dd]ebug/
[Rr]elease/
Ankh.NoLoad
.env[rc]

#Tooling
_ReSharper*/
.resharper
[Tt]est[Rr]esult

#Project files
[Bb]uild/

#Subversion files
.svn

#office temp files
~$*
